{
  "datacenter": "{{ consul.config.datacenter }}",
  "data_dir": "{{ consul.config.data_dir }}",
  "log_level": "{{ consul.config.log_level }}",
  "node_name": "{{ consul.config.node_name }}",
  "server": true,
  "bind": "{{ consul.config.bind }}"
}

